body{
	background-image: url(../images/cute_potato_notype.jpg);
	background-size: 400px, 200px;
	background-repeat: no-repeat;
}

h1{
	font-family:'Patrick Hand SC', cursive;
	color: orange;
	font-size: 40px;
	padding-left: 15px;
	text-align:;
}

h2{
	font-family:'Patrick Hand SC', cursive;
	color: orange;
	font-size: 18px;
	padding-left: 60px;
}

#project1{
	font-family: 'Patrick Hand SC', cursive;
	color: orange;
	padding-left: 50px;
	padding-top: 100px;
}

#project2{
	font-family: 'Patrick Hand SC', cursive;
	color: orange;
	padding-left: 50px;
	padding-top: 25px;
}

h3{
	font-family:'Patrick Hand SC', cursive;
	font-width: bold;
	color: purple;
	font-size: 15px;
	padding-left: 50px;
}
