h1{
	font-family:'Patrick Hand SC', cursive;
	position: center;
	text-align: center;
	color: orange;
	font-size: 100px;
}



#project1{
	font-family:'Covered By Your Grace', cursive;

}
a:visited{
	font-family:'Covered By Your Grace', cursive;
	color: blue;
}
