#container {

width: 800px;
height: 1000px;
margin: auto;
}

#box {
	width: 100px;
	height: 100px;
	background: red;
	float: left;
}

#box2 {
	width: 100px;
	height: 100px;
	background: white;
	float: left;
}