/*body { 
	background-position: top, center;
	background: #000000;
	background: linear-gradient(#000000, #800080);
	background: -webkid-linear-gradient(#000000, #800080);
	background: -moz-linear-gradient(#000000, #800080);
}
*/

body {
	background-image: url(../images/original.jpg); 
	background-position: top, center;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment:;
}

#tlogo{
	width:125px;
	height:37px;
	position: bottom;
	}

#header{
	width: 800px;
	height: 100px;
	background-color: black;
	margin: auto;
	color: white;
}
/*#headerbox{
	width: 850px;
	height: 300px;
	background-color: black;
	margin: auto;
	text-align: top;
}*/

#interviewimage{
	clear: center;
	padding-right: 20px;
}

#container{
	width: 800px;
	height: 3200px;
	background-color: black;
	color: black;
	margin: auto;
	text-align: center;

}

#text{
	width: 700px;
	height: 3600px;
	color: black;
	margin: auto;
	padding: 2px;
}


	h1{ 
		font-family: 'Pirata One', cursive;
		font-size: 36px;
		color: #9932CC;
		line-height: 42px;
		}

	h3{
		font-family: 'Lekton', sans-serif;
		color: white;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
		line-height: 18px;

	}	


	h4{
		font-family: 'Lekton', sans-serif;
		color: #9932CC;
		text-align: justify;
		font-size: 15px;
		line-height: 18px;
		padding-left: 40px;
		padding-right: 40px;

	}
	h5{
		font-family: 'Lekton', sans-serif;
		color: white;
		font-size: 12px;
		font-weight: 400;
	}

	

	h6{
		font-family: 'Lekton', sans-serif;
		color: white;
		font-size: 12px;
		font-weight: 400;
	}

	p{
		font-family: 'Lekton', sans-serif;
		color: white;
		font-size: 14px;
		font-weight: 700;
		text-align: left;

	}
	
	p{
		font-family: 'Lekton', sans-serif;
		font-weight: 400;
		font-size: 15px;
		font-style: italic;
	}

#video{
	width: 560px;
	height: 315px;
	position: bottom;
	border-top: 45px solid;
	border-right: 120px solid;
	border-bottom: 90px solid;
	border-left: 120px solid;
}
	